a {
    text-decoration: none;
}
.product {
    /* ".product" 클래스에 대한 스타일을 여기에 추가하세요 */
    position: relative;
    margin-bottom: 20px; /* 필요에 따라 조절하세요 */
    /* 기타 필요한 스타일 추가 */
}

.product img {
    max-width: 100%; /* 이미지가 컨테이너를 초과하지 않도록 함 */
    height: auto;
    /* 제품 이미지에 대한 기타 스타일 추가 */
}

.product h2 {
    /* 제품 이름에 대한 스타일 추가 */
}

.product .e59_12 {
    /* 제품 가격에 대한 스타일 추가 */
}

.e53_2 { 
	overflow:hidden;
}
.e53_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e59_10 { 
	color:rgba(255, 255, 255, 1);
	width:130px;
	height:48px;
	position:absolute;
	left:905px;
	top:41px;
	font-family:Alumni Sans Collegiate One;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e54_10 { 
	width:1920px;
	height:880px;
	position:absolute;
	left:0px;
	top:200px;
}
.e54_11 { 
	background-color:rgba(22.31249962002039, 19.52343787997961, 19.52343787997961, 1);
	width:163px;
	height:896px;
	position:absolute;
	left:0px;
	top:0px;
}
.e54_12 { 
	color:rgba(255, 255, 255, 1);
	width:30px;
	height:24px;
	position:absolute;
	left:31px;
	top:65px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e54_13 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:31px;
	top:104px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e54_14 { 
	color:rgba(255, 255, 255, 1);
	width:50px;
	height:24px;
	position:absolute;
	left:31px;
	top:143px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e54_15 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:24px;
	position:absolute;
	left:31px;
	top:182px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e54_16 { 
	transform: rotate(0.000005008956130975318deg);
	width:92px;
	height:0px;
	position:absolute;
	left:31px;
	top:249px;
}
.e54_16 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e54_17 { 
	transform: rotate(0.000005008956130975318deg);
	width:92px;
	height:0px;
	position:absolute;
	left:31px;
	top:400px;
}
.e54_17 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e54_18 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:31px;
	top:264px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e54_19 { 
	color:rgba(255, 255, 255, 1);
	width:100px;
	height:24px;
	position:absolute;
	left:31px;
	top:303px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e54_20 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:31px;
	top:342px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e54_21 { 
	color:rgba(255, 255, 255, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:31px;
	top:381px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e54_22 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e54_22 { 
	width:316px;
	height:316px;
	position:absolute;
	left:377px;
	top:83px;
	background-image:url(images/___1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e54_25 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e54_25 { 
	width:316px;
	height:316px;
	position:absolute;
	left:907px;
	top:83px;
	background-image:url(images/___2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e54_26 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e54_26 { 
	width:316px;
	height:316px;
	position:absolute;
	left:1437px;
	top:83px;
	background-image:url(images/___3.png);
	background-repeat:no-repeat;
	background-size:cover;
}


.e56_3 { 
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:40px;
	top:151px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e56_4 { 
	color:rgba(0, 0, 0, 1);
	width:80px;
	height:24px;
	position:absolute;
	left:174px;
	top:151px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e60_17 { 
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:326px;
	top:151px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e60_18 { 
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:478px;
	top:151px;
	font-family:Alumni Sans Collegiate One;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e59_8 { 
	background-color:rgba(234.81250405311584, 234.81250405311584, 234.81250405311584, 1);
	width:1920px;
	height:8px;
	position:absolute;
	left:0px;
	top:192px;
}
.e59_9 { 
	background-color:rgba(234.81250405311584, 234.81250405311584, 234.81250405311584, 1);
	width:1920px;
	height:8px;
	position:absolute;
	left:0px;
	top:131px;
}
.e54_9 { 
	background-color:rgba(22.000000588595867, 20.000000707805157, 20.000000707805157, 1);
	width:1920px;
	height:131px;
	position:absolute;
	left:0px;
	top:0px;
}

/*회원가입폼*/


.signup_wrapper { 
	left: 20px;
	background-color: rgb(255, 255, 255);
	width:865px;
	height:740px;
	position:relative;
	border-radius: 8px;
	margin:0 auto;
	padding-top: 30px;
}

h1 {
	position: relative;
	letter-spacing:10px;
	color:rgb(0, 0, 0);
	text-align: center;
	font-size: 25px;
	margin-bottom: 30px;
}

a {
	text-decoration-line: none;
}

.signup_form {
	position: relative;
	/*text-align: center;*/
	padding-left: 267px;
}

label {
	margin-top: 50px;
	font-size:22px;
	letter-spacing:3px;
}

input {
	margin-top: 1px;
	margin-bottom: 12px;
	width: 300px;
	height: 35px;
	border-radius: 5px;
	font-size: 25px;
}

input[id="signupButton"] {
	background-color: rgba(22.000000588595867, 20.000000707805157, 20.000000707805157, 1);
	margin-top: 10px;
	margin-bottom: 7px;
	width: 308px;
	height: 40px;
	color: white;
	border-radius: 5px;
	font-size: 23px;
	letter-spacing:5px;
}