<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta content="text/html; charset=euc-kr">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>야구모자</title>
	<style type="text/css">

	</style>
	<script src="https://kit.fontawesome.com/2636adf573.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/../css/login.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	
</head>

<body>
<div class=e53_2>
  <div class=e54_10>
    <div class=e54_11><span  class="e54_12" ><a href = "/" style="color: white; font-weight: bold;">캡</a></span>
    <span  class="e54_13"><a href = "/buckethat" style="color: white">버킷 햇</a></span>
    <span  class="e54_14"><a href = "/vigny" style="color: white">비니</a></span>
    <span  class="e54_15"><a href = "/headband" style="color: white">헤드밴드</a></span>
    
      <div class="e54_16"></div>
      
      <div class="e54_17"></div>
      <span  class="e54_18"><a href = "/nike" style="color: white">나이키</a></span>
      <span  class="e54_19"><a href = "/adidas" style="color: white">아디다스</a></span>
      <span  class="e54_20"><a href = "/mlb" style="color: white">MLB</a></span>
    </div>
    
    
        <div class="login_wrapper">
			<h1>로그인</h1>
			<div class="login_form">
			    <form action="#" th:action="@{/login}" th:object="${user}" method="post">

			        <input type="text" id="id" name="id" placeholder="아이디" required autofocus><br>	        
			        <input type="password" id="password" name="password" placeholder="비밀번호" required><br>
			        
			        <button type="submit" id="login_button">로그인</button>
			    </form>
		    </div><hr>
		    <table>
				<tr>
				     <td><p><a class="a_id" href="/findid">아이디 찾기&nbsp; | </a></p></td>
				     <td><p><a class="a_ps" href="/findps">&nbsp;비밀번호 찾기&nbsp; | </a></p></td>
				     <td><p><a class="a_signup" href="/signup">&nbsp;회원가입</a></p></td>
				</tr>
		    </table>
	    </div>
    
   
  
   
	</div>
  
  <span th:if="${session.loggedInNickname == null}" class="e56_3"><a href ="/logout" style="color: black;">로그인</a></span>
  <span th:if="${session.loggedInNickname != null}" class="e56_3"><a href ="/logout" style="color: black;">로그아웃</a></span>
  
  <span  class="e56_4">아무개</span>
  <span  class="e60_17">아무개</span>
  <span  class="e60_18">아무개</span>
  <div class="e59_8"></div>
  <div class="e59_9"></div>
  <div class="e54_9"></div>
  
  <span class="e59_10"><a href ="/" style="color: white;">유한캡</a></span>

</div>
     
    <script th:inline="javascript">
        var successMessage = /*[[${successMessage}]]*/ "";
        if (successMessage) {
            alert(successMessage);
        }
    </script>
    
    <script th:inline="javascript">
        var errorMessage = /*[[${errorMessage}]]*/ "";
        if (errorMessage) {
            alert(errorMessage);
        }
    </script>
    
    <script th:inline="javascript">
        var sendMessage = /*[[${sendMessage}]]*/ "";
        if (sendMessage) {
            alert(sendMessage);
        }
    </script>
    
    <script th:inline="javascript">
        var sendMessage = /*[[${loginMessage}]]*/ "";
        if (sendMessage) {
            alert(sendMessage);
        }
    </script>
				
	<script th:inline="javascript">
		var sendMessage = /*[[${errorMessage}]]*/ "";
		if (sendMessage) {
			alert(sendMessage);
		}
	</script>

</body>

</html>